/* ---------- General components start ---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #0a0a0a;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */

.header {
  background-color: #0a0a0a;
  color: #717171;
  font-size: 24px;
  line-height: 29px;
  padding: 33px 0 32px;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  display: none;
}

.menu {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  gap: 30px;
}

.menu-item {
  list-style-type: none;
}

.phone {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}

/* ---------- Header components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Main components start ---------- */

/* ---------- Headline section components start ---------- */

.headline {
  background-color: #f5f5f7;
  padding: 70px 0 40px;
  text-align: center;
}

.title {
  color: #490e84;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin: 0 0 40px;
  text-transform: uppercase;
}

.headline-img {
  margin-bottom: 25px;
}

.headline-btn {
  background-color: #490e84;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  height: 70px;
  line-height: 29px;
  padding: 22px 117px 19px;
  text-align: center;
  text-transform: uppercase;
  width: 350px;
}

/* ---------- Headline section components finish ---------- */

/* ---------- News section components start ---------- */

.news {
  padding: 90px 0 150px;
}

.news-title,
.color-title {
  color: #717171;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin: 0 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.news-info {
  align-items: center;
  display: flex;
  gap: 190px;
}

.news-text p {
  margin: 0 0 30px;
  max-width: 560px;
}

.news-text p:nth-child(4) {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

/* ---------- News section components finish ---------- */

/* ---------- Color section components start ---------- */

.color {
  padding-bottom: 150px;
}

.color-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.color-item {
  list-style-type: none;
}

.color-item img {
  margin-bottom: 20px;
}

.color-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

/* ---------- Color section components finish ---------- */

/* ---------- Contacts section components start ---------- */

.contacts-inner {
  background-color: #574b63;
  color: #fff;
  display: flex;
}

.contacts-form {
  padding: 140px 45px;
  text-align: center;
  width: 100%;
}

.contacts-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 60px;
  line-height: 39px;
  text-transform: uppercase;
}

.contacts-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}

.contacts-input::placeholder {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contacts-form p {
  margin: 30px 0;
  opacity: 0.5;
  text-align: center;
}

.contacts-form button {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: #490e84;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px 80px;
  text-transform: uppercase;
}

/* ---------- Contacts section components finish ---------- */

/* ---------- Main components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Footer components start ---------- */

.footer {
  background-color: #0a0a0a;
}

.footer-inner {
  align-items: center;
  color: #717171;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  flex-basis: 0;
  flex-grow: 1;
  line-height: 29px;
}

.footer .phone {
  font-size: 24px;
}

/* ---------- Footer components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Responsive components start ---------- */

@media (max-width: 1200px) {
  .headline-img {
    max-width: 100%;
  }

  .contacts {
    background-color: #574b63;
  }

  .contacts-inner {
    display: block;
  }

  .contacts-form {
    width: auto;
  }

  .color-title {
    text-align: center;
  }

  .contacts-img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .color-list {
    flex-wrap: wrap;
  }

  .color-item {
    margin-bottom: 30px;
    width: 50%;
  }
}

@media (max-width: 940px) {
  .menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    order: 1;
    position: relative;
    width: 50px;
    z-index: 50;
  }

  .btn-line {
    background-color: #fff;
    height: 2px;
    left: 0;
    position: absolute;
    transition: 0.3s ease;
    width: 100%;
  }

  .btn-line:nth-child(1) {
    top: 0;
  }

  .btn-line:nth-child(2),
  .btn-line:nth-child(3) {
    top: 20px;
  }

  .btn-line:nth-child(4) {
    top: 40px;
  }

  .menu-open .btn-line:nth-child(1),
  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }

  .menu-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menu-open .menu {
    transform: translateY(0%);
  }

  .menu {
    align-items: center;
    background-color: #0a0a0a;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  .menu-item {
    font-size: 30px;
    padding-right: 50px 0;
  }

  .logo,
  .phone {
    position: relative;
    z-index: 50;
  }

  .phone {
    text-align: center;
  }

  .news-img {
    display: none;
  }

  .news-text p {
    max-width: 100%;
  }

  .contacts-form {
    padding: 140px 30px;
  }
}

@media (max-width: 768px) {
  .headline,
  .news {
    padding: 50px 0;
  }

  .color {
    padding-bottom: 50px;
  }

  .contacts-form {
    padding: 50px 70px;
  }
}

@media (max-width: 640px) {
  .footer-inner {
    flex-direction: column;
    padding: 20px 0;
  }

  .footer-inner .logo {
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .news-title,
  .color-title,
  .contacts-title {
    font-size: 28px;
    line-height: 32px;
  }

  .headline-btn {
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }

  .contacts-form {
    padding: 50px 30px;
  }

  .color-item,
  .color-item img {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .nav {
    flex-wrap: wrap;
  }

  .menu-item {
    font-size: 32px;
  }

  .phone {
    flex-basis: auto;
    margin-top: 50px;
    order: 3;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .contacts-form {
    padding: 50px 10px;
  }
}

/* ---------- Responsive components finish ---------- */
