/* ---------- General components start ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 15px;
}

a {
  color: #717171;
  font-size: 24px;
  text-decoration: none;
}
/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */

.header {
  background-color: #0a0a0a;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu-link {
}

/* ---------- Header components finish ---------- */
